#new-deck-view h2 {
  margin-left: 16px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#new-deck-view {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal_visible {
  display: flex;
}

.modal__block {
  width: 280px;
  background: #fca5a5;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal__title {
  margin-top: 0;
}

.modal__close {
  float: right;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.new-deck-view__container {
  max-width: 600px;
  margin: 0 auto;
  border: none;
}

.new-deck-view__legend {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.new-deck-view__colors {
  display: flex;
  gap: 10px;
}

.new-deck-view__color-label {
  margin-right: 10px;
}

.color-picker {
  display: flex;
  gap: 8px;
  margin: 12px 0 24px;
}

textarea {
  width: 100%;
  min-height: 180px;
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 14px;
  resize: vertical;
  margin-top: 12px;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #7b7b7b;
  color: white;
  border: none;
  padding: 12px 16px 14px;
  border-radius: 8px;
  width: 100%;
  height: 44px;
  gap: 10px;
  cursor: pointer;
  opacity: 0.3;
}

button:hover {
  background-color: #5f5f5f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

header {
  margin-bottom: 30px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.new-deck-view__submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  padding: 12px 16px 14px;
  border-radius: 8px;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.new-deck-view__form {
  border-radius: 12px;
  border: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-deck-view__color-input {
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
}

.new-deck-view__color-input:checked {
  border: 2px solid rgb(0 0 0 / 0.2);
}

.new-deck-view__color-input_color_green {
  background-color: #64d583;
}

.new-deck-view__color-input_color_blue {
  background-color: #91a8f9;
}

.new-deck-view__color-input_color_purple {
  background-color: #aa8ef0;
}

.new-deck-view__color-input_color_pink {
  background-color: #ee92d7;
}

.new-deck-view__color-input_color_orange {
  background-color: #ee955e;
}

.new-deck-view__color-input_color_yellow {
  background-color: #f5d770;
}

@media screen and (max-width: 767px) {
  .new-deck-view__color-picker {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .new-deck-view__color-label {
    flex: 0 0 auto;
  }

  .new-deck-view__submit {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 48px;
    width: auto;
    margin-top: 0;
    z-index: 11;
  }
}
